{% extends 'store/base.html' %}
{% load static %}

{% block title %}Customers with Orders{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'store/table_styles.css' %}">
{% endblock %}

{% block content %}
<h1>Customers with Orders</h1>
<table class="responsive-table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.first_name }}</td>
            <td>{{ customer.last_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}