{% extends "store/base.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1>Welcome to My E-Commerce Site</h1>
<p>Use the navigation bar to browse different sections.</p>

<div class="links">
    <a href="{% url 'customers_with_orders' %}" class="button">Customers with Orders</a>
    <a href="{% url 'customer_revenue' %}" class="button">Customer Revenue</a>
    <a href="{% url 'best_selling_products' %}" class="button">Best Selling Products</a>
    <a href="{% url 'high_spending_customers' %}" class="button">High Spending Customers</a>
</div>
{% endblock %}

